{% extends 'base.html' %}
{% load static %}


{%  block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alert.html'  %}

<div class="container">
	<div class="row">
	
	{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3"> Ordenes de compra:  </strong>
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"># Orden</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Total Orden</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <th scope="row">{{order.order_number}}</th>
                                    <td scope="row">{{order.full_name}}</td>
                                    <td scope="row">$ {{order.order_total}}</td>
                                    <td scope="row">{{order.created_at}}</td>
                                    <td scope="row">{{order.status}}</td>
                                    <td scope="row"><a class="btn btn-primary" href="{% url 'view_order' order.id %}"><i class="fa fa-eye"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    		
			   </div>


			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
{% endblock %}