{% extends 'base.html' %}
{% load static %}


{%  block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alert.html'  %}

<div class="container">
	<div class="row">
	
	{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3"> Ordenes de compra: {{ order }} </strong>
            <a class="btn btn-primary float-right" style="color:white;" href="{% url 'my_orders' %}">Ver todas las ordenes</a>
            <a class="btn btn-warning float-right ml-2 mr-2" style="color:white;" href="{% url 'order_to_favorite' order  %}">Enviar a Favoritos</a>
            <a class="btn btn-info float-right ml-2 mr-2" style="color:white;" href="{% url 'order_to_cart' order  %}">Volver a comprar</a>
            
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                        <th scope="col">Producto</th>
                        <th scope="col" width="120">Cantidad</th>
                        <th scope="col" width="120">Precio</th>
                        
                        </tr>
                        </thead>
                        <tbody>
                
                        {% for item in order_items %}
                
                        <tr>
                        <td>
                            <figure class="itemside align-items-center">
                                <div class="aside"><img src="{{ item.product.images.url }}" class="img-sm"></div>
                                <figcaption class="info">
                                    <a href="{{ item.product.get_url }}" class="title text-dark">{{item.product.product_name}}</a>
                                    <p class="text-muted small">
                                        {% comment %} {% if cart_item.variations.all %}
                                            {% for item in cart_item.variations.all %}
                                               <b> {{ item.variant_category | capfirst}} </b>: {{ item.variant_value | capfirst }} <br>
                                            {% endfor %}
                                        {% endif %} {% endcomment %}
                                    </p>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                             <label for="">{{ item.quantity }}</label>   
                        </td>    
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price"> {{ item.subtotal }} €</var> 
                                <small class="text-muted">  {{ item.product.price }} € cada uno </small> 
                            </div> <!-- price-wrap .// -->
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    		
			   </div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>

</section>
{% endblock %}