{% extends 'base.html' %}
{% load static %}


{%  block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<div class="container" style="margin-top: 50px;">
    <h1 class="text-center">Error 404: Página no Encontrada</h1>
	<br>
	<div class="text-center">
		<a href="{% url 'store' %}" class="btn btn-success">Sigue Comprando</a>
	</div>
</div>
<!-- ========================= SECTION  END// ========================= -->
</body>
</html>
{% endblock %}