{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% load i18n %}
{%  block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">



<div class="intro-banner-wrap">
	{% include 'includes/carousel.html' %}  
</div>



</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">{% trans "View all" %}</a>
	<h3 class="section-title">{% trans "Popular products" %}</h3>
</header><!-- sect-heading -->
	
<div class="row">

	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<br>
			{% if product.images %}
				<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			{% else %}
				<a href="{{ product.get_url }}" class="img-wrap"> <img src="{% static 'images/no_imagen_product.png' %}"> </a>
			{% endif %}

			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{product.product_name}}</a>
				{% if user.id is not None %}
					<div class="price mt-1">{{ product.id | get_listprice:user.id }}€</div> <!-- price-wrap.// -->
				{% endif %}
				<br>
				<a href="{{ product.get_url }}" class="btn btn-block btn-success">{% trans "View product" %}</a>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


</body>
</html>
{% endblock %}