{% extends 'base.html' %}
{% load static %}
{%  block content %}
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm mt-2">
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center" style="min-height:400px;">
            <h1 class="display-4 fw-normal">Hola !!</h1>
            <h1 class="display-4 fw-normal">No tengo Productos...</h1>
            <p class="fs-5 text-muted">La base de datos no tiene productos. ¿ Quieres traerte datos demo desde : <a href="https://fakestoreapi.com/">https://fakestoreapi.com/</a> ?</p>
            <a class="btn btn-primary" style="color:white;" href="{% url 'generate_demo_data' %}">Cargar Datos Demo</a>
        </div>
    </div>
</section>
<!-- ========================= SECTION  END// ========================= -->
</body>
</html>
{% endblock %}