{% extends 'base.html' %}
{% load static %}


{%  block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">





</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	{% comment %} <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Ver Todo</a> {% endcomment %}
	<h3 class="section-title">Politica de cookies</h3>
</header><!-- sect-heading -->

	
<div class="row">
    <p>Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.</p>    
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


</body>
</html>
{% endblock %}