{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
  
    <div class="row">
        <aside class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Dirección de Facturación</h4>
                <form method="post" action="{% url 'place_order' %}">
                    {% csrf_token %}
                    
                    <div class="form-row">
                            <div class="col form-group">
                                <label for="">Nombre</label>
                                <input type="text" name="first_name" class="form-control"  value="{{ userprofile.user.first_name }}"  required>
                            </div> 
                            
                            <div class="col form-group">
                                <label for="">Apellidos</label>
                                <input type="text" name="last_name" class="form-control" value="{{ userprofile.user.last_name }}"  required>
                            </div>  
                    </div> 
                    
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" value="{{ userprofile.user.email }}"  required>
                        </div> 
                        
                        <div class="col form-group">
                            <label for="">Teléfono</label>
                            <input type="text" name="phone" class="form-control" value="{{ userprofile.user.phone_number }}" required>
                        </div>  
                    </div>

                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Direccion</label>
                            <input type="text" name="addres_line_1" class="form-control" value="{{ userprofile.address_line_1 }}" required>
                        </div> 
                        
                        <div class="col form-group">
                            <label for="">Detalle Dirección</label>
                            <input type="text" name="addres_line_2" class="form-control" value="{{ userprofile.address_line_2 }}" required>
                        </div>  
                    </div> 


                    <div class="form-row">
                        <div class="col form-group">
                            <label for="">Ciudad</label>
                            <input type="text" name="city" class="form-control" value="{{ userprofile.city }}" required>
                        </div> 
                        
                        <div class="col form-group">
                            <label for="">Provincia</label>
                            <input type="text" name="state" class="form-control" value="{{ userprofile.state }}" required>
                        </div> 
                        
                        <div class="col form-group">
                            <label for="">Pais</label>
                            <input type="text" name="country" class="form-control" value="{{ userprofile.country }}"  required>
                        </div>  
                    </div> 

                    <div class="form-row">
                        <label for="">Descripción de la orden</label>
                        <textarea class="form-control" name="order_note" id="" rows="3"></textarea>
                    </div>    

                 
            </div>    
        
        </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-6">
    
            <div class="card">
            <div class="card-body">

                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                    <th scope="col">Producto</th>
                    <th scope="col" width="120">Cantidad</th>
                    <th scope="col" width="120">Precio</th>
                    
                    </tr>
                    </thead>
                    <tbody>
            
                    {% for cart_item in cart_items %}
            
                    <tr>
                    <td>
                        <figure class="itemside align-items-center">
                            <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                            <figcaption class="info">
                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{cart_item.product.product_name}}</a>
                                <p class="text-muted small">
                                    {% if cart_item.variations.all %}
                                        {% for item in cart_item.variations.all %}
                                           <b> {{ item.variant_category | capfirst}} </b>: {{ item.variant_value | capfirst }} <br>
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                         <label for="">{{ cart_item.quantity }}</label>   
                    </td>    
                    <td> 
                        <div class="price-wrap"> 
                            <var class="price"> {{ cart_item.subtotal }} €</var> 
                            <small class="text-muted">  {{ cart_item.list_price }} € cada uno </small>
                        </div> <!-- price-wrap .// -->
                    </td>
                    
                    </tr>
            
                    {% endfor %}
                
                
                </tbody>
                </table>
                
                <button type="submit" name="submit"  class="btn btn-primary btn-block"> Ordenar los productos </button>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continuar Comprando</a>
                </form>   
            
            </div> <!-- card-body.// -->

            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
   
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    {% endblock %}